<%= content_for :title, "Taking quiz for this pokemon!" %>
<%= render layout: 'quiz_card' do %>
  <div class="row">
    <div class="col-12 col-lg-6 text-center position-relative">
      <div class="pokemon-bg color-type-<%=@pokemon.types.first%>"></div>
      <%= image_tag url_image_for_pokemon(@pokemon.id), class: "img-fluid" %>
    </div>
    <div class="col-12 mt-4 mt-lg-3 col-lg-6">
      <%= form_tag "/quizzes" do %>
        <%= hidden_field_tag :pokemon_id, @pokemon.id %>
        <% @questions.each do |question| %>
          <div class="mb-3">
            <label for="question_<%= question.question_type %>"><%= question.description %></label>
            <% Rails.logger.debug "QUESTION: #{question.description}" %>
            <% answers = generate_answers(question.question_type, @pokemon_list, @abilities, @types) %>
            <% Rails.logger.debug "ANSWERS: #{answers}" %>
            <select id="question_<%= question.question_type %>" name="question[<%= question.question_type %>]" class="form-control">
              <% answers.each do |answer| %>
                <option value="<%= answer %>"><%= answer%></option>
              <% end %>
            </select>
          </div>
        <% end %>
        <%= submit_tag "Finish quiz!", id: "submit_quiz", class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
<% end %>
