<!DOCTYPE html>
<html>
  <head>
    <title>PokeQuiz</title>
    <%= favicon_link_tag asset_path('pokeball_icon.svg')%>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: 'navbar' %>
    <div class="container pb-5">
      <%= render partial: 'flash', flash: flash %>
      <%= yield %>
    </div>
  </body>
</html>
